.header {
    background: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 80%;
    height: 100%;
  }
  
  .logoWrapper img {
    height: 30px;
  }
  
  .navBar {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  
  .navLinks li {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
  }
  
  .cart {
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    font-size: 25px;
  }
  
  .cart a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  .cart .box {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 11px;
    right: 11px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn {
    margin-left: 20px;
  }
  
  /* Ensure the content is not hidden by the fixed header */
  body {
    padding-top: 80px; /* Adjust this value based on the height of your header */
  }
  