.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
  }
  .mainContainer-inner {
    width: 80%;
    height: max-content;
    display: flex;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    /* background-color: green; */
  }

  /* .imageContainer {
    width: 100%;
  } */
  .imageContainer img {
    max-width: 100%;
    height: max-content;
    border-radius: 8px;
  }
  
  .details {
    margin-left: 20px;
  }
  
  .details h3, .details h2 {
    margin: 0;

  }
  .details p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(85, 84, 84);
  }
  .price {
    margin-top: 20px;
  }
  
  .discount {
    display: flex;
    align-items: baseline;
  }
  
  .discount h3 {
    margin-right: 10px;
    color: #e65c00;

  }
  
  .discount h4 {
    color: #999;
    text-decoration: line-through;
  }
  
  .count {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .countDiv {
    display: flex;
    align-items: center;
  }
  
  .countDiv p {
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn {
    margin-left: 20px;
  }
  
  .btn button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    border: none;
    /* padding: 10px 20px; */
    /* border-radius: 5px; */
    cursor: pointer;
  }

  .btnItem:first-child{
    font-size: 30px;
  }
  
  .btn button:hover {
    background-color: #444;
  }
  